<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>juego</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <form action="juego.html" method="POST">
            <h2>Juego de personajes movedizos</h2>
            <div class="form-group">
                <label for="personajes">Ingrese el número de personajes:</label>
                <input  id="personajes" class="form-control" type="number" autofocus >
            </div>
            <br><br>

            <div class="form-group">
                <label for="metro">Ingrese el tamaño de la pista (m):</label>
                <input id="metro" class="form-control" type="number" autofocus>
            </div>
            <br><br>



            <button type="submit" class="btn btn-primary">Ingresar personaje</button>

        </form>

        <script>

            $("form").submit(function (event){
                event.preventDefault();

                var personajes=$("#personajes").val;
                var metro=$("#metro").val;

                if (personajes<6 || personajes>2){
                    return ;
                }else{
                    $(".invalid-feedback").show(500).delay(1000).hide(500);
                }


                if (metro<9 || metro>3){
                    return;
                }else{
                    $(".invalid-feedback").show(500).delay(1000).hide(500);
                }
            });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>